.sidebar {
	height: 100%;
	width: 280px;
	padding: 30px;
	display: flex;
	flex-direction: column;

	@media (max-width: 768px) {
		display: none;
	}

	.menu {
		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;

			li {
				list-style: none;
				display: flex;
				align-items: center;
				gap: 10px;
				opacity: 0.6;
				padding: 10px;
				border-radius: 10px;
				cursor: pointer;
				transition: all 0.4s;

				&.active {
					opacity: 1;
					background: rgba(#000000, 0.4);

					a {
						color: var(--white);
					}
				}

				svg {
					width: 35px;
					height: 35px;
					stroke-width: 2px;
				}

				a {
					text-decoration: none;
					color: var(--cream);
				}
			}
		}
	}

	.divider {
		width: 100%;
		height: 1px;
		background-color: var(--cream);
		margin: 20px 0px;
	}
}
