.footer {
	height: 50px;
	background: rgba(#000000, 0.3);
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px;
	border-radius: 12px;

	@media (max-width: 768px) {
		background: rgba(#000000, 0.9);
	}

	p {
		color: var(--gray);
	}

	a {
		color: var(--primary);
	}
}
