.MyCollection {
	max-width: 1920px;
	width: calc(100% - 340px);
	margin: 50px auto;
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		width: 100%;
	}

	.medias {
		max-width: 1200px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;
		place-items: center;

		@media (max-width: 1300px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media (max-width: 1000px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 768px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media (max-width: 650px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 430px) {
			grid-template-columns: 1fr;
		}
	}
}
